<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hola</title>
</head>
<body>
<p>Paciente</p>
<form method="POST" action="">{% csrf_token %}
{{ el_paciente.as_p }}
<input type="submit" value="Guardar">
</form>
</body>
</html>